<footer class="footer">
    <div class="container-fluid">
      <div class="footer__wrap">
        <div class="footer__copy">
          <div>© <span class="year">2022</span> Forrest's Passenger Services. All Rights Reserved. Designed by <a href="https://webcapitancom">Webcapitan</a></div>
          <div>
            <a href="#">Trademarks, Copyrights and Restrictions</a>
            <a href="#">Terms and conditions</a>
         </div>
        </div>
        <div class="footer__local">
          <div class="footer__time">
            local time: <br>
            <span class="time">10:15 AM<span>AEST</span></span>
          </div>
          <a href="#"><img src="img/facebook-footer.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="all_pages">
      <div class="page_point">Pages</div>
      <ul class="page_list">
        <li><a href="index.html">Index</a></li>
        <li><a href="book.html">Book a Ride</a></li>
        <li><a href="our-areas.html">Our Areas</a></li>
        <li><a href="our-fares.html">Our Fares</a></li>
        <li><a href="where-to-go.html">Where to Go</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>
    </div>
</footer>
<div class="overlay" data-menu-overlay>

</div>

<script>
  let today = new Date();
  let time = today.toLocaleTimeString('en-US');
  let year = today.getFullYear();
  document.querySelector('.year').innerHTML = year;
  document.querySelector('.time').innerHTML = time + ' AEST';
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="js/main.js"></script>



