.all_pages{
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 102;
  &:hover{
    ul{
      right: 0;
    }
  }
  .page_point{
    padding: 10px 15px;
    background: #00d2ff;
    cursor: pointer;
    color: #fff;
  }
  ul{
    background: #00D2FF;
    padding: 15px 20px;
    position: absolute;
    top: 55%;
    width: 200px;
    right: -200px;
    transition: .4s;
    max-height: 450px;
    overflow-y: auto;
    li{
      list-style: none;
      margin-bottom: 15px;
      font-size: 16px;
      a{
        color: #fff;
      }
    }
  }
}
html {
  box-sizing: border-box !important;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  height: 100% ;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  //min-height: 100%;
  font-size: 14px;
  color: var(--primary);
  font-family: var(--font-family, sans-serif);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/* .visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
} */

.container-fluid {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

/* .js-focus-visible :focus:not(.focus-visible) {
  outline: none;
} */

.centered {
  text-align: center;
}

/* .dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
} */

/* .page--ios .dis-scroll {
  position: relative;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 97;
  &.overlay--active {
    display: block;
  }
}


.title-sm {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--primary);
}
