@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// Header

.header {
  position: relative;
  padding: 20px 50px;
  max-height: 100px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 992px) {
    padding: 10px 20px;
  }
  @media (max-width: 576px) {
    padding: 10px;
  }
  .burger {
    @include burger;
    z-index: 99;
    @media (max-width: 576px) {
      height: 20px;
      &:after, &:before {
        height: 3px;
      }
      &__line {
        height: 3px;
      }
    }
  }
  ul {
      box-sizing: border-box;
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      width: 20%;
      display: flex;
      justify-content: center;
      transition: all 0.3s ease 0s;
      transform: translateX(110%);
      padding: 0;
      padding-left: 50px;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      z-index: 98;
      background-color: var(--whiteColor);
      opacity: 0;
      @media (max-width: 1800px) {
        width: 30%;
      }
      @media (max-width: 1400px) {
         width: 40%;
      }
      @media (max-width: 992px) {
        padding-left: 25px;
      }
      @media (max-width: 768px) {
        width: 45%;
      }
      @media (max-width: 576px) {
        width: 60%;
        padding-left: 15px;
      }
      @media (max-height: 420px) {
          justify-content: flex-end;
          padding-bottom: 40px;
      }
      @media (max-height: 350px) {
        padding-bottom: 20px;
    }
      > li {
        @media (max-width: 576px) {
          margin-bottom: 4px;
        }
        > a {
          font-weight: 700;
          font-size: 30px;
          line-height: 50px;
          text-transform: uppercase;
          color: var(--primary);
          transition: all 0.3s ease 0s;
          &:hover {
            color: var(--secondary);
            @media (max-width: 768px) {
              color: var(--primary);
            }
          }
          @media (max-width: 1200px) {
            font-size: 20px;
            line-height: 35px;
          }
          @media (max-width: 576px) {
            font-size: 16px;
            line-height: 24px;
          }
          @media (max-height: 650px) {
            font-size: 20px;
            line-height: 35px;
          }
          @media (max-height: 420px) {
            font-size: 18px;
            line-height: 28px;
          }
          @media (max-height: 350px) {
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
      &.menu--active {
        transform: translate(0px);
        opacity: 1;
      }
  }

  // .header__wrap

  &__wrap {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 100px;
  }

  // .header__logo

  &__logo {
    img {
      @media (max-width: 576px) {
        max-width: 66%;
      }
    }
  }

  // .header__contacts

  &__contacts {
    position: relative;
    z-index: 99;
    > a  {
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      text-transform: uppercase;
      color: var(--primary);
      transition: all 0.3s ease 0s;
      &:hover {
        color: var(--secondary);
      }
      @media (max-width: 992px) {
        font-size: 14px;
        line-height: 22px;
      }
      @media (max-width: 576px) {
          font-size: 12px;
          line-height: 16px;
      }
    }
    @media (max-width: 992px) {
      position: absolute;
      top: 30px;
      left: 25px;
    }
    @media (max-width: 576px) {
      left: 15px;
    }
  }
}

// Main Section

.main {
  overflow: hidden;
}

.menu {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 368px);
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 1fr;
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
    > li {
      margin: 0;
      padding: 0;
      > a {
        display: block;
        width: 100%;
        height: 100%;
        font-weight: 600;
        font-size: 48px;
        line-height: 50px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--whiteColor);
        padding-top: 240px;
        padding-left: 50px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px var(--whiteColor);
        transition: all 0.3s ease-out;
        &:hover {
          -webkit-text-fill-color: var(--whiteColor);
          -webkit-text-stroke: 1px transparent;
          box-shadow: inset 10px 10px 10px rgba(0,0,0,0.4), inset -10px -10px 20px rgba(0,0,0,0.4);
        }
        span {
          text-transform: lowercase;
        }
        @media (max-width: 1600px) {
          font-size: 36px;
          line-height: 44px;
          padding-left: 25px;
        }
        @media (max-width: 1200px) {
          font-size: 28px;
          line-height: 34px;
          padding-left: 15px;
          padding-top: 280px;
        }
        @media (max-width: 768px) {
          padding-top: 240px;
          padding-bottom: 20px;
        }
        @media (max-width: 576px) {
          padding-top: 220px;
        }
      }
      &:first-child {
        grid-column: 1 / 3;
        background-image: url('../img/areas-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (max-width: 1200px) {
          grid-column: 1 / 2;
        }
      }
      &:nth-child(2) {
        background-image: url('../img/fares-svg-icon.svg');
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: calc(100% - 50px) 50px;
        background-color: #64AA3A;
        @media (max-width: 1200px) {
          background-position: calc(100% - 25px) 25px;
          background-size: 60px 60px;
        }
      }
      &:nth-child(3) {
        background-image: url('../img/faqs-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        > a {
          padding-top: 285px;
          @media (max-width: 1200px) {
            padding-top: 280px;
          }
          @media (max-width: 768px) {
            padding-top: 240px;
          }
          @media (max-width: 576px) {
            padding-top: 250px;
          }
        }
      }
      &:nth-child(4) {
        background-image: url('../img/go-svg-icon.svg');
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: calc(100% - 50px) 50px;
        background-color: var(--greenColor);
        @media (max-width: 1200px) {
          background-position: calc(100% - 25px) 25px;
          background-size: 60px 60px;
        }
      }
      &:nth-child(5) {
        grid-column: 2 / 4;
        background-image: url('../img/book-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (max-width: 1200px) {
          grid-column: 2 / 3;
        }
        @media (max-width: 768px) {
          grid-column: 1 / 2;
        }
      }
      &:last-child {
        grid-column: 4 / 5;
        background-image: url('../img/backing-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (max-width: 1200px) {
          grid-column: 3 / 4;
        }
        @media (max-width: 768px) {
          grid-column: 2 / 3;
        }
        @media (max-width: 576px) {
          grid-column: 1 / 2;
        }
      }
    }
  }
}


// Page Book a Ride

.book {
  // .book__slider

  &__slider {
    height: 736px;
    max-height: 736px;
    position: relative;
    @media (max-width: 1400px) {
      height: auto;
      max-height:max-content;
    }
  }

  // Book a ride Step - 1

  .book-step-one {
      box-sizing: border-box;
      // .book-step-one__wrap

      &__wrap {
        display: flex;
        height: 100%;
        @media (max-width: 1400px) {
          flex-wrap: wrap;
        }
      }

      // .book-step-one__suburb

      &__suburb {
        position: relative;
        flex: 0 1 25%;
        background: var(--greenColor);
        box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.02);
        padding: 20px 50px;
        > ul {
          padding: 0;
          margin: 0;
          list-style: none;
          > li {
            position: relative;
            margin-bottom: 10px;
          }
        }
        @media (max-width: 1800px) {
          padding-left: 20px;
          padding-right: 20px;
        }
        @media (max-width: 1400px) {
          flex: 0 1 50%;
        }
        @media (max-width: 768px) {
          flex: 0 1 100%;
        }
        @media (max-width: 480px) {
          padding-left: 10px;
        }
      }

      // .suburb__title

      .suburb__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: var(--whiteColor);
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        @media (max-width: 480px) {
          font-size: 18px;
          line-height: 20px;
          padding-bottom: 10px;
        }
      }
      // .book-step-one__port

      &__port {
        box-sizing: border-box;
        flex: 0 1 25%;
        background-color: #64AA3A;
        padding: 20px 50px;
        @media (max-width: 1800px) {
          padding-left: 20px;
          padding-right: 20px;
        }
        @media (max-width: 1400px) {
          flex: 0 1 50%;
        }
        @media (max-width: 768px) {
          flex: 0 1 100%;
        }
        @media (max-width: 480px) {
          padding-left: 10px;
        }
      }

      // .book-step-one__map

      &__map {
        flex: 0 1 50%;
        position: relative;
        @media (max-width: 1400px) {
          flex: 0 1 100%;
          height: 400px;
        }
      }

      .map-date {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        z-index: 90;
        display: flex;
        column-gap: 10px;
        @media (max-width: 992px) {
          bottom: 20px;
        }
        @media (max-width: 576px) {
          width: 100%;
          bottom: 2px;
          column-gap: 2px;
        }
        @media (max-width: 480px) {
          flex-direction: column;
          bottom: 0;
        }
      }
      .map-estimated, .map-distace {
        background-color: var(--whiteColor);
        padding: 20px 0px 20px 20px;
        width: 250px;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        &:hover {
          transform: translateY(-2px);
        }
        @media (max-width: 992px) {
          width: 200px;
          padding:10px;
          text-align: center;
        }
        @media (max-width: 576px) {
          border-radius: 0;
          flex: 0 1 50%;
        }
        @media (max-width: 480px) {
          flex: 0 1 100%;
          width: 100%;
          border-bottom: 1px solid var(--secondary);
        }
      }
      .map-name {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        @media (max-width: 992px) {
          font-size: 13px;
        }
        @media (max-width: 480px) {
          font-size: 13px;
        }
      }
      .map-estimated-val, .map-distace-val {
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: var(--greenColor);
        @media (max-width: 992px) {
          font-size: 22px;
          line-height: 32px;
        }
        @media (max-width: 480px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

  // .book-step-two

  .book-step-two {
    .container-flui {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
    }
    .container {
      align-items: center;
      justify-content: center;
      align-self: center;
      justify-self: center;
      justify-content: center;
    }

      // .book-step-two__wrap

      &__wrap {
        display: flex;
        column-gap: 2px;
        form {
          margin-top: 30px;
          input:not([type="checkbox"]), label {
            width: 100%;
          }
          input:not([type="checkbox"]) {
            margin-bottom: 20px;
            margin-top: 10px;
            border: none;
            outline: none;
            padding: 9px 5px 9px 0;
            border-bottom: 1px solid #EEEEEE;
            box-sizing: border-box;
            background-color: transparent;
            border-radius: 0 !important;
            @media (max-width: 576px) {
              margin-bottom: 10px;
              margin-top: 5px;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-right: 5px;
            }
          }
          label {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: var(--secondary);
            @media (max-width: 576px) {
              font-size: 12px;
              line-height: 15px;
            }
          }
          input[type="checkbox"] {
            position: relative;
            appearance: none;
            cursor: pointer;
            display: block;
            margin-top: 5px;
            padding-left: 22px;
          }
          input[type="checkbox"]:before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            top: -4px;
            left: 0;
            border: 1px solid #eeeeee;
            background-color: var(--whiteColor);
          }
          input[type="checkbox"]:checked:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid var(--greenColor);
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: -2px;
            left: 6px;
          }
        }
        @media (max-width: 1200px) {
            flex-direction: column;
            row-gap: 35px;
        }
      }

      // .book-step-two__bot

      &__bot {
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      // .book-step-two__origin

      &__origin {
        padding: 40px 80px;
        background-color: var(--whiteColor);
        span {
          display: inline-block;
          transform: translateY(-2px);
          margin-left: 20px;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #AA0000;
          @media (max-width: 768px) {
            font-size: 13px;
          }
          @media (max-width: 576px) {
            font-size: 12px;
            margin-left: 0;
          }
        }
        @media (max-width: 1400px) {
          padding: 30px;
        }
        @media (max-width: 576px) {
            padding: 15px;
        }
      }

      // .book-step-two__title

      &__title {
        display: inline-block;

      }

      // .book-step-two__return

      &__return {
        padding: 40px 80px 0 80px;
        background-color: var(--whiteColor);
        form {
          position: relative;
        }
          /* The switch - the box around the slider */
          .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 16px;
            margin-top: 6px;
            margin-right: 13px;
            border-radius: 20px;
            float: left;
          }

          /* Hide default HTML checkbox */
          .switch input {
            display: none;
          }

          /* The slider */
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--greenColor);
            //background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: -1px;
            bottom: -2px;
            background-color: var(--whiteColor);
            -webkit-transition: 0.4s;
            transition: 0.4s;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
          }

          input + .slider {
            background-color: #DDDDDD;
          }
          input:checked + .slider {
            background-color: var(--greenColor);
          }

          input:focus + .slider {
            box-shadow: 0 0 1px var(--greenColor);
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }

          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }

          @media (max-width: 1400px) {
            padding: 30px;
          }
          @media (max-width: 576px) {
            padding: 15px;
          }
      }
      .return {
        opacity: 0.3;
      }

  }

  // step shedule

  .book-step-shedule {

      // .book-step-shedule__wrap

      &__wrap {
        margin-top: 60px;
        display: flex;
        column-gap: 2px;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          > li {
            display: flex;
            font-weight: 400;
            font-size: 13px;
            line-height: 23px;
            cursor: pointer;
            color: var(--secondary);
            transition: all 0.3s ease 0s;
            &:hover {
              font-weight: 700;
            }
            &:nth-child(even) {
              background-color: rgba(#64AA3A, 0.1);
            }
            &:first-child {
              margin-bottom: 3px;
            }
            > div {
              flex: 0 1 50%;
              padding-left: 20px;
              @media (max-width: 576px) {
                padding-left: 10px;
              }
            }
          }
        }
        h3 {
          margin-bottom: 2px;
          padding-left: 20px;
          @media (max-width: 576px) {
            padding-left: 10px;
          }
        }
        @media (max-width: 768px) {
          flex-direction: column;
          row-gap: 2px;
        }
      }

      // .book-step-shedule__origin

      &__origin {
        flex: 0 1 50%;
        background-color: var(--whiteColor);
        padding: 20px 60px;
        @media (max-width: 1200px) {
          padding: 20px 40px;
        }
        @media (max-width: 992px) {
          padding: 20px;
        }
        @media (max-width: 576px) {
          padding: 20px 10px;
        }
      }

      // .book-step-shedule__return

      &__return {
        flex: 0 1 50%;
        background-color: var(--whiteColor);
        padding: 20px 60px;
        @media (max-width: 1200px) {
          padding: 20px 40px;
        }
        @media (max-width: 992px) {
          padding: 20px;
        }
        @media (max-width: 576px) {
          padding: 20px 10px;
        }
      }

      .departure-head, .arrival-head {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: var(--secondary);
        @media (max-width: 992px) {
          font-size: 11px;
          line-height: 16px;
        }
      }
      .selected-time {
        font-weight: 700;
      }
  }



  // Step 3 origin

  .book-step-three-origin {

      // .book-step-three-origin__items

      &__items {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 267px 267px;
        gap: 2px;
        align-items: center;

        @media (max-width: 1400px) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 267px 267px 267px;
        }
        @media (max-width: 768px) {
          grid-template-columns:  1fr;
          grid-template-rows: repeat(6, 240px);
        }
        @media (max-width: 576px) {
          grid-template-columns:  1fr;
          grid-template-rows: repeat(6, 220px);
        }
      }

      // .book-step-three-origin__item

      &__item:not(:nth-child(4)) {
        background-color: var(--whiteColor);
        align-self: stretch;
        padding: 40px;
        position: relative;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        &:hover {
          box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5),  -5px -5px 10px rgba(0, 0, 0, 0.3);

        }
        @media (max-width: 1600px) {
          padding: 20px;
        }
        @media (max-width: 992px) {
          padding-right: 50px;
        }
        @media (max-width: 576px) {
          padding: 20px 40px 10px 10px;
        }
      }

      &__item:nth-child(4) {
        overflow-y: hidden;
        align-self: stretch;
        display: flex;
        img {
          object-fit: cover;
          width: 100%;
        }
      }

      &__item:nth-child(2) {
        .book-step-three-origin__footer {
          bottom: 20px;
        }
      }

      // .book-step-three-origin__info

      &__info {
        display: flex;
        column-gap: 40px;
        align-items: center;
        @media (max-width: 576px) {
          column-gap: 15px;
        }
      }

      // .book-step-three-origin__img

      &__img {
        @media (max-width: 992px) {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
        }
        @media (max-width: 576px) {
          width: 40px;
          height: 40px;
          flex-shrink: 0;
        }
      }

      // .book-step-three-origin__text

      &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: var(--secondary);
        max-width: 280px;
        @media (max-width: 992px) {
          font-size: 18px;
          line-height: 25px;
          max-width: none;
        }
      }

      // .book-step-three-origin__footer

      &__footer {
        position: absolute;
        bottom: 10px;
        right: 40px;
        @media (max-width: 1600px) {
          bottom: 20px;
          right: 20px;
        }
        @media (max-width: 576px) {
          bottom: 10px;
          right: 10px;
        }
      }

      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 40px;
        margin-top: 6px;
        margin-right: 13px;
        border-radius: 20px;
        @media (max-width: 992px) {
          height: 16px;
          width: 44px;
        }
      }

      /* Hide default HTML checkbox */
      .switch input {
        display: none;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--greenColor);
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 50px;
        width: 50px;
        left: -1px;
        bottom: -4px;
        background-color: var(--whiteColor);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
        @media (max-width: 992px) {
          width: 20px;
          height: 20px;
          bottom: -2px;
        }
      }

      input + .slider {
        background-color: #DDDDDD;
      }
      input:checked + .slider {
        background-color: var(--greenColor);
      }

      input:focus + .slider {
        box-shadow: 0 0 1px var(--greenColor);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(53px);
        -ms-transform: translateX(53px);
        transform: translateX(53px);
        @media (max-width: 992px) {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      // Custom type Number

      .but {
        outline: none;
        border: none;
        background-color: white;
        font-weight: 700;
        font-size: 55px;
        line-height: 55px;
        color: var(--primary);
        cursor: pointer;
        @media (max-width: 992px) {
          font-size: 25px;
          line-height: 25px;
        }
      }
      .field {
        outline: none;
        border: none;
        width: 75px;
        font-weight: 700;
        font-size: 55px;
        line-height: 55px;
        text-align: center;
        color: var(--primary);
        @media (max-width: 992px) {
          font-size: 25px;
          line-height: 25px;
          width: 40px;
        }
      }

      .counter-wrapper {
        display: flex;
      }
      .counter-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
          color: var(--secondary);
          @media (max-width: 992px) {
            font-size: 12px;
          }
        }
      }

      // tooltips

      /* Tooltip container */
  .tooltips {
  position: absolute;
  display: inline-block;
  top: 20px;
  right: 20px;
  @media (max-width: 576px) {
    top: 10px;
    right: 10px;
    img {
      width: 16px;
      height: 16px;
    }
  }
}

/* Tooltip text */
.tooltips .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #ffffff;
  color: var(--primary);
  text-align: center;
  padding: 15px 10px;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.1));
  @media (max-width: 576px) {
    width: 180px;
    font-size: 14px;
    padding: 10px;
  }

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -160px;


  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 172px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  @media (max-width: 576px) {
    left: 168px;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
  }

  // Book step four

  .book-step-four {

      // .book-step-four__forms

      &__forms {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        column-gap: 2px;
        form {
          background-color: var(--whiteColor);
          padding: 40px;
          input:not([type="checkbox"]) {
            width: 100%;
            padding: 9px 9px 9px 0;
            border: none;
            outline: none;
            border-bottom: 1px solid #EEEEEE;
            margin-bottom: 10px;
            margin-top: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: var(--primary);
            border-radius: 0 !important;
            &:last-child {
              margin-bottom: 0;
            }
            &::placeholder {
              opacity: 0.5;
            }
            @media (max-width: 480px) {
              margin-top: 0;
              padding: 5px 5px 5px 0;
            }
          }
          label {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: var(--secondary);
            span {
              color: #AA0000;
            }
          }
          h2 {
            margin-bottom: 20px;
          }
          input[type="checkbox"] {
            position: relative;
            appearance: none;
            cursor: pointer;
            display: block;
            margin-top: 6px;
            padding-left: 22px;
          }
          input[type="checkbox"]:before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            top: -4px;
            left: 0;
            border: 1px solid #eeeeee;
            background-color: var(--whiteColor);
          }
          input[type="checkbox"]:checked:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid var(--greenColor);
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: -2px;
            left: 6px;
          }
          @media (max-width: 480px) {
            padding: 20px;
          }
        }
        @media (max-width: 992px) {
          flex-direction: column;
          row-gap: 2px;
        }
      }

      .address-return {
        > div {
          display: flex;
          align-items: flex-start;
          label {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: var(--primary);
          }
        }
      }
  }

// Book step five

.book-step-five {

		// .book-step-five__wrap

		&__wrap {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      column-gap: 2px;
      row-gap: 2px;
      @media (max-width: 992px) {
        flex-direction: column;
      }
    }

		// .book-step-five__payment

		&__payment {
      flex: 0 1 66.66%;
      background-color: var(--whiteColor);
      padding: 40px 80px;
      form {
        input {
          width: 100%;
          outline: none;
          border: none;
          padding: 9px 9px 9px 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: var(--primary);
          margin-bottom: 20px;
          margin-top: 10px;
          border-bottom: 1px solid #eeeeee;
          border-radius: 0 !important;
          &:last-child {
            margin-bottom: 0;
          }
          &::placeholder {
            opacity: 0.5;
          }
        }
        label {
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: var(--secondary);
          span {
            color: #AA0000;
          }
        }
        input[type="submit"] {
          border-bottom: none;
          margin-top: 60px;
          max-width: fit-content;
          padding-left: 66px;
          padding-right: 66px;
          border-radius: none;
          @media (max-width: 768px) {
            margin-top: 40px;
            display: block;
            margin: 40px auto 0 auto;
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }
      h2 {
        margin-bottom: 30px;
      }
      @media (max-width: 1500px) {
        flex: 0 1 60%;
      }
      @media (max-width: 1200px) {
        flex: 0 1 50%;
        padding: 40px;
      }
      @media (max-width: 992px) {
        flex: 0 1 100%;
      }
      @media (max-width: 576px) {
        padding: 30px 20px;
      }
    }

		// .book-step-five__btn

		&__btn {}

		// .book-step-five__info

		&__info {
      flex: 0 1 33.33%;
      background-color: var(--whiteColor);
      padding: 40px;
      @media (max-width: 1500px) {
        flex: 0 1 40%;
      }
      @media (max-width: 1200px) {
        flex: 0 1 50%;
      }
      @media (max-width: 992px) {
        flex: 0 1 100%;
      }
      @media (max-width: 576px) {
        padding: 30px 20px;
      }
      @media (max-width: 400px) {
        padding: 30px 10px;
      }
    }

		// .book-step-five__name

		&__name {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
      color: var(--primary);
      @media (max-width: 576px) {
        text-align: center;
      }
    }
    &__name:not(:first-child) {
      margin-top: 10px;
    }

    .payment {

      // .payment__wrap

      &__wrap {
        display: flex;
        align-items: flex-end;
        column-gap: 30px;
        label {
          display: block;
        }
        select {
          outline: none;
          width: 100%;
          border: none;
          padding: 9px 9px 9px 0;
          border-bottom: 1px solid #eeeeee;
          cursor: pointer;
          margin-top: 10px;
          color: var(--primary);
          border-radius: none !important;
          background-color: transparent !important;
          @media (max-width: 768px) {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 15px;
            }
          }
        }
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: stretch;
        }
      }

      // .payment__wrapper

      &__wrapper {
        flex: 0 1 40%;
        &:last-child {
          flex: 0 1 20%;
        }
        @media (max-width: 768px) {
          flex: 0 1 100% !important;
        }
        #cvc {
          background-image: url('../img/cvc-icon.svg');
          background-repeat: no-repeat;
          background-position: 100% center;
          background-size: 20px 20px;
        }
      }
  }

  .info {

      // .info__wrapper

      &__wrapper {
        display: flex;
        justify-content: space-between;
      }
  }
  .info-glob {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary);
    @media (max-width: 992px) {
      line-height: 22px;
    }
    @media (max-width: 576px) {
      font-size: 12px;
    }
    @media (max-width: 400px) {
      font-size: 10px;
    }
  }

  .info-glob-total {
    font-weight: 700;
  }
  .info-shuttle-out {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .info-contact-number-out {
    color: var(--primary);
  }
}

 // Selected block

  .selected-s {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--whiteColor);
    padding: 17px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.03);
    @media (max-width: 992px) {
      padding: 10px 20px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 25px;
    }
    @media (max-width: 480px) {
      row-gap: 15px;
    }
		// .selected__wrap

		&__wrap {
      display: flex;
      column-gap: 100px;
      @media (max-width: 992px) {
        column-gap: 50px;
      }
      @media (max-width: 768px) {
        width: 100%;
        justify-content: space-between;
      }
      @media (max-width: 480px) {
        flex-direction: column;
        row-gap: 15px;
      }
    }

		// .selected__surbur

		&__surbur {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: -50px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #DDDDDD;
        @media (max-width: 992px) {
          right: -25px;
        }
        @media (max-width: 768px) {
          content: none;
        }
      }
    }

		// .selected__name

		&__name {
      font-weight: 500;
      font-size: 13px;
      line-height: 23px;
      text-transform: uppercase;
      color: var(--secondary);
      @media (max-width: 576px) {
        font-size: 12px;
        line-height: 18px;
      }
    }

		// .selected__val

		&__val {
      font-weight: 700;
      font-size: 16px;
      line-height: 23px;
      color: var(--primary);
      @media (max-width: 576px) {
        font-size: 14px;
        line-height: 19px;
      }
    }

		// .selected__port

		&__port {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: -50px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #DDDDDD;
        @media (max-width: 992px) {
          right: -25px;
        }
      }
    }

		// .selected__cost

		&__cost {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
      color: var(--secondary);
      @media (max-width: 576px) {
        font-size: 14px;
        line-height: 25px;
      }
      span {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: var(--greenColor);
        @media (max-width: 992px) {
          font-size: 25px;
          line-height: 25px;
        }
        @media (max-width: 576px) {
          font-size: 20px;
          line-height: 20px;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
        text-align: right;
      }
      @media (max-width: 480px) {
        text-align-last: left;
      }
    }
}


  // Checkboxes style start

  .checkboxes-suburb, .checkboxes-suburb-b {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    > div {
      padding-left: 0;
      position: relative;
      margin-bottom: 2px;
      label {
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: var(--whiteColor);
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          color: #60FF00;
        }
        @media (max-width: 1600px) {
          font-size: 14px;
          line-height: 25px;
        }
        @media (max-width: 480px) {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
    input[type="checkbox"] {
      appearance: none;
      cursor: pointer;
    }
    input[type="checkbox"]:checked + label {
      color: #60FF00;

    }
    input[type="checkbox"]:before {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      right: 0;
    }
    input[type="checkbox"]:checked:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0px;
      background-image: url('../img/bird-1.svg');
      background-repeat: no-repeat;
      @media (max-width: 1600px) {
          width: 16px;
          height: 16px;
          background-size: 16px 16px;
      }
      @media (max-width: 480px) {
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
    }
    }
    @media (max-width: 480px) {
      margin-top: 10px;
    }
  }
  // Checkboxes style end

  .container-flui {
    height: 100%;
  }
  .swiper {
    height: 100%;
  }
  .swiper-wrapper {
    @media (max-width: 1400px) {
      height: auto !important;
    }
  }
  .swiper-slide {
    height: 100%;
    @media (max-width: 1400px) {
      padding-bottom: 40px !important;
    }
  }
  .swiper-button-next {
    display: block;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-btn-next, .swiper-btn-prev {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-5%);
    z-index: 99;
    cursor: pointer;
    @media (max-width: 1650px) {
      width: 40px;
      height: 40px;
    }
    @media (max-width: 576px) {
      width: calc(50% - 2px);
      height: 40px !important;
      background-color: var(--greenColor);
      border: 2px solid #64AA3A;
      img {
        width: 39px;
        height: 36px;
      }
    }
  }

  .swiper-button-disabled {
    display: none;
  }
  .swiper-btn-next {
    right: 50px;
    @media (max-width: 1650px) {
      right: 0px;
    }
    @media (max-width: 768px) {
      right: 0px;
      top: calc(50% + 50px);
    }
    @media (max-width: 576px) {
      position: fixed;
      right: 0px;
      top: calc(100% - 20px);
      text-align: right;
    }
  }
  .swiper-btn-prev {
    left: 50px;
    @media (max-width: 1650px) {
      left: 0px;
    }
    @media (max-width: 768px) {
      left: 0px;
      top: calc(50% + 50px);
    }
    @media (max-width: 576px) {
      position: fixed;
      left: 0px;
      top: calc(100% - 20px);
    }
  }
  .swiper-slide {
    height: 1px !important;
  }
  .swiper-slide-active {
    height:auto !important;
  }
}



// Footer

.footer {
  padding: 30px 50px;
  box-sizing: border-box;
  max-height: 100px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.03);
  background-color: var(--whiteColor);
  @media (max-width: 992px) {
      padding: 30px 20px;
  }
  @media (max-width: 576px) {
    padding: 20px 10px 60px 10px;
    max-height: none;
  }
  // .footer__wrap

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 992px) {
      flex-direction: column;
      text-align: center;
    }
  }

  // .footer__cope

  &__copy {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary);
    a {
      display: inline-block;
      margin-top: 4px;
      &:first-child {
        position: relative;
        padding-right: 20px;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 7px;
          width: 1px;
          height: 70%;
          background-color: var(--secondary);
          @media (max-width: 576px) {
            content: none;
          }
        }
        @media (max-width: 576px) {
          padding-right: 0;
        }
      }

    }
    @media (max-width: 576px) {
      font-size: 12px;
      line-height: 18px;
    }
    a {
      font-family: 'OpenSans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--primary);
      &:hover {
        color: #000000;
        font-weight: 600;
      }
      @media (max-width: 576px) {
          font-size: 12px;
          line-height: 18px;
          display: block;
      }
    }
  }

  // .footer__local

  &__local {
    display: flex;
    align-items: center;
    column-gap: 30px;
    a {
      display: block;
      transition: all 0.3s ease 0s;
      width: 30px;
      height: 30px;
      transition: all 0.4s ease 0s;
      img {
        transition: all 0.4s ease 0s;
        @media (max-width: 992px) {
          margin-bottom: 15px;
        }
      }
      &:hover {
        img {
          border-radius: 50%;
        }
      }
    }
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  // .footer__time

  &__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    text-transform: uppercase;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span {
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: var(--secondary);
    }
    @media (max-width: 992px) {
      align-items: center;
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }
}


// Page our areas

.our-areas {
  max-height: 736px;
  //box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  @media (max-width: 992px) {
    max-height: none;
  }

  // .our-areas__wrap

  &__wrap {
    display: flex;
    iframe {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 992px) {
      flex-direction: column-reverse;
    }
  }

  // section map

  &__map {
    flex: 0 1 50%;
    @media (max-width: 992px) {
      iframe {
        height: 500px !important;
      }
      flex: 0 1 100%;
    }
    @media (max-width: 576px) {
      iframe {
        height: 400px !important;
      }
    }
  }

  // .our-areas__descr

  &__descr {
    flex: 0 1 50%;
    padding: 70px 100px 80px 170px;
    @media (max-width: 1400px) {
      padding: 70px 100px;
    }
    @media (max-width: 1200px) {
      padding: 50px;
    }
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
    @media (max-width: 768px) {
        padding: 40px 20px;
    }
  }

  // .our-areas__wrapper

  &__wrapper {
    max-width: 433px;
    form {
      width: 100%;
      input,
      label {
        width: 100%;
        display: block;
      }
      label {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: var(--secondary);
      }
      input {
        outline: none;
        border: none;
        border-bottom: 1px solid #eeeeee;
        padding: 9px 9px 9px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: var(--primary);
        border-radius: 0 !important;
        &::placeholder {
          opacity: 0.5;
        }
      }
    }
    @media (max-width: 992px) {
      max-width: none;
    }
    h1 {
      margin-bottom: 20px;
    }
  }

  // .our-areas__text

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: var(--primary);
  }

  // .our-areas__btn

  &__btn {
    display: block;
    max-width: fit-content;
    margin-top: 30px;
    padding-left: 93px;
    padding-right: 93px;
    @media (max-width: 768px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

// Page Our Fares

.our-fares {
  padding-bottom: 52px;
  // .our-fares__title

  &__title {
    padding-top: 60px;
    color: var(--whiteColor);
    text-align: center;
  }

  // .our-fares__wrap

  &__wrap {
    margin-top: 30px;
    display: flex;
    column-gap: 2px;
    @media (max-width: 992px) {
      flex-direction: column;
      row-gap: 2px;
    }
  }

  // .our-fares__item1

  &__item1, &__item2 {
    > ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 20px;
      > li {
        display: flex;
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        cursor: pointer;
        color: var(--primary);
        transition: all 0.2 ease 0s;
        &:nth-child(even) {
          background-color: rgba(#64AA3A, 0.1);
        }
        > div {
          padding-left: 20px;
          @media (max-width: 576px) {
            padding-left: 10px;
          }
          &:first-child {
            flex: 0 1 40%;
            @media (max-width: 576px) {
              flex: 0 1 30%;
            }
          }
          &:nth-child(2) {
            flex: 0 1 30%;
            @media (max-width: 576px) {
              flex: 0 1 35%;
            }
          }
          &:last-child {
            flex: 0 1 30%;
            @media (max-width: 576px) {
              flex: 0 1 35%;
            }
          }
        }
        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  &__item1 {
    background-color: var(--whiteColor);
    flex: 0 1 50%;
    padding: 30px 60px;
    @media (max-width: 1400px) {
      padding: 30px;
    }
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
    @media (max-width: 576px) {
      padding: 15px;
    }
  }

  // .our-fares__from

  &__from {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: var(--secondary);
    padding: 0;
    margin: 0;
  }

  // .our-fares__name

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: var(--primary);
    @media (max-width: 576px) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  // .our-fares__atent

  &__atent {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #AA0000;
    @media (max-width: 576px) {
      font-size: 13px;
      line-height: 20px;
      margin-top: 5px;
    }
  }

  // .our-fares__item2

  &__item2 {
    background-color: var(--whiteColor);
    flex: 0 1 50%;
    padding: 30px 60px;
    > ul {
      margin-bottom: 20px;
    }
    @media (max-width: 1400px) {
      padding: 30px;
    }
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
    @media (max-width: 576px) {
      padding: 15px;
    }
  }

  .number-head, .cost-head, .price-head {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--secondary);
    margin-bottom: 5px;
    @media (max-width: 576px) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

// Page Where to go

.where-to-go {
  padding-top: 20px;
  padding-bottom: 40px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  max-height: 736px;
  @media (max-width: 1100px) {
    max-height: none ;
  }
  // .where-to-go__title

  &__title {
    text-align: center;
  }

  // .where-to-go__wrap

  &__wrap {
    margin: 20px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 15px;
    max-width: 1030px;
    @media (max-width: 1100px) {
      max-width: 100%;
      justify-content: center;
    }
  }

  // .where-to-go__item

  &__item {
    @media (max-width: 576px) {
      width: 100%;
      text-align: center;
    }
  }

  // .where-to-go__video

  &__video {
    iframe {
      width: 500px;
      height: 270px;
    }
    @media (max-width: 576px) {
      iframe {
        width: auto !important;
        height: auto !important;
      }
    }
    @media (max-width: 400px) {
        iframe {
          @media (max-width: 400px) {
            width: 290px !important;
            height: 150px !important;
          }
        }
    }
  }

  // .where-to-go__name

  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary);
  }
}

// Page About Us

.about-us {
  height: 736px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  @media (max-width: 992px) {
    height: auto !important;
  }
  .container-flui {
    height: 100%;
  }
  @media (max-width: 992px) {
    height: auto !important;
  }
  // .about-us__wrap

  &__wrap {
    display: flex;
    height: 100%;
    @media (max-width: 992px) {
      flex-direction: column-reverse;
      height: auto !important;
    }
  }

  // .about-us__img

  &__img {
    flex: 0 1 50%;
    max-height: 736px;
    overflow: hidden;
    @media (max-width: 1600px) {
      max-height: none;
      overflow: visible;
      img {
        height: 100%;
        object-fit: cover;
        //text-align: center;
        @media (max-width: 992px) {
          height: auto;
        }
      }
    }
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
  }

  // .about-us__descr

  &__descr {
    flex: 0 1 50%;
    padding-top: 80px;
    padding-left: 170px;
    @media (max-width: 1500px) {
      padding: 70px 100px;
    }
    @media (max-width: 1200px) {
      padding: 50px;
    }
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
    @media (max-width: 768px) {
        padding: 30px 20px 20px 20px;
    }
  }

  // .about-us__wrapper

  &__wrapper {
    max-width: 440px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      color: var(--primary);
    }
    @media (max-width: 992px) {
      max-width: 100%;
    }
    h1 {
      margin-bottom: 20px;
    }
  }
}


// Page Contact Us

.contact-us {
  padding: 50px 0;
  max-height: 736px;
  @media (max-width: 1400px) {
    max-height: none;
  }
  // .contact-us__wrap

  &__wrap {
    display: flex;
    gap: 2px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 15px;
      > li {
        padding-left: 50px;
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--primary);
        > a {
          color: var(--primary);
          transition: all 0.3s ease 0s;
          &:hover {
            text-decoration: underline;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        p {
          line-height: 24px;
          padding: 0;
          margin: 0;
        }
        @media (max-width: 576px) {
          padding-left: 35px;
        }
      }
      > li:first-child {
        background-image: url('../img/contact-icon-mail.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: left top;
        line-height: 30px;
        @media (max-width: 576px) {
          background-size: 20px 20px;
          background-position: left 5px;
        }
      }
      > li:nth-child(2) {
        background-image: url('../img/contact-icon-smartphone.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: left 6px;
        > p {
          a {
            color: var(--primary);
            transition: all 0.3s ease 0s;
             &:hover {
            text-decoration: underline;
          }
          }
        }
        @media (max-width: 576px) {
          background-size: 20px 20px;
          background-position: left 5px;
        }
      }
      > li:nth-child(3) {
        background-image: url('../img/contact-icon-clock.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: left 7px;
        @media (max-width: 576px) {
          background-size: 20px 20px;
          background-position: left 5px;
        }
      }
      > li:last-child {
        background-image: url('../img/contact-icon-location.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: left 7px;
        address {
          line-height: 22px;
          font-style: normal;
        }
        @media (max-width: 576px) {
          background-size: 20px 20px;
          background-position: left 5px;
        }
      }
      @media (max-width: 576px) {
        margin-top: 30px;
      }
    }
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  // .contact-us__contact

  &__contact {
    flex: 0 1 66.66%;
    background-color: var(--whiteColor);
    padding: 40px 80px;
    @media (max-width: 1400px) {
      padding: 40px;
    }
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
    @media (max-width: 576px) {
      padding: 30px 20px;
    }
  }

  // .contact-us__name

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: 576px) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  // .contact-us__text

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--primary);
  }

  // .contact-us__call

  &__call {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
  }

  // .contact-us__touch

  &__touch {
    flex: 0 1 33.33%;
    background-color: var(--whiteColor);
    padding: 40px;
    form {
      margin-top: 20px;
      label, input {
        display: block;
      }
      input {
        width: 100%;
        outline: none;
        border: none;
        padding: 9px 9px 9px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: var(--primary);
        margin-bottom: 10px;
        margin-top: 10px;
        border-bottom: 1px solid #eeeeee;
        border-radius: 0 !important;
        &:last-child {
          margin-bottom: 0;
        }
        &::placeholder {
          opacity: 0.5;
        }
      }
      label {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: var(--secondary);
        span {
          color: #AA0000;
        }
      }
      input[type="submit"] {
        border-bottom: none;
        max-width: fit-content;
        margin-top: 30px;
        padding-left: 66px;
        padding-right: 66px;
        border-radius: none;
        @media (max-width: 768px) {
          margin-top: 40px;
          display: block;
          margin: 40px auto 0 auto;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
      textarea {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid #eeeeee;
        height: 80px;
        resize: none;
        border-radius: 0 !important;
      }
    }
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
    @media (max-width: 576px) {
      padding: 30px 20px;
    }
  }
}


// Page FAQ

.faq {
  height: 736px;
  padding-top: 52px;
  padding-bottom: 52px;
  @media (max-width: 1200px) {
    height: auto;
  }
  @media (max-width: 576px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  // .faq__title

  &__title {
    text-align: center;
    color: var(--whiteColor);
  }

  // .faq__accordion

  &__accordion {
    margin-top: 20px;
  }
  .accordion {
    border: none;
  }
  .accordion-item {
    border-radius: 0;
    margin-bottom: 2px;
  }
  .accordion-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: var(--primary);
    padding: 15px 30px;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    &:after {
      background-image: url('../img/down-chevron.svg');
      background-size: 16px 16px;
      @media (max-width: 576px) {
        background-size: 10px 10px;
        background-position: right center;
      }
    }
    @media (max-width: 576px) {
      font-size: 16px;
      line-height: 25px;
      padding: 10px 15px;
    }
  }

  .accordion-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: var(--primary);
    padding: 15px 30px;
    @media (max-width: 576px) {
      font-size: 12px;
      line-height: 20px;
      padding: 10px 20px;
    }
  }

  .accordion-button:not(.collapsed) {
    background-color: var(--whiteColor);
    @media (max-width: 576px) {
      &:after {
        transform: translate(10px) rotate(180deg);
      }
    }
  }
  .accordion-button:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}





